.icon{
    position: absolute;
    left: 10px;

    width: 64px;

    cursor: pointer;
}

.icon p {
    font-size: 12px;
    font-weight: 600;
    font-family: sans-serif;
    color: white;
    text-shadow: 1px 1px black, 0 0 1px black;

    margin-top: 0;
    text-align: center;
}

.icon img {
    width: 100%;
    position: relative;
}

.icon:hover img {
    width: 110%;
    left: -5%;
    top: -5%;
}

.icon:active img {
    filter: brightness(0.45);
}

#icon1{
    top: 20px;
}

#icon2{
    top: 130px;
}

#icon3{
    top: 240px;
}

#icon4{
    top: 350px;
}

#bank_alert{
    position: absolute;
    right: -4px;
    top: -4px;
    padding: 2px 4px;
    border-radius: 20px;
    background-color: red;
    color: white;

    font-family: sans-serif;
    font-size: 9px;

    display: none;
}
