.icon p{
    font-size: 10px;
    font-family: sans-serif;

    margin-top: 5px;
}

.icon img{
    width: 100%;
    position: relative;
}

.icon img:hover{
    width: 110%;
    left: -5%;
}

.icon{
    position: absolute;
    left: 40px;

    width: 50px;

    cursor: pointer;
}

#icon1{
    top: 20px;
}

#icon2{
    top: 120px;
}

#icon3{
    top: 220px;
}
