#mail_gen {
    width: 500px;
    left: 100px;
    text-align: center;

    height: 395px;
}
#mail_gen .field {
    /*background-color: #f1f1f1; /* Very light grey */
    background-color: white;
    border: 1px solid #7c9ebc; /* XP Yellow-Blue */
}

#mail_gen .window_body {
    width: 94%;
    padding: 0 3% 0 3%;
    text-align: left;
 }
#mail_gen .receivers {
    font-size: 15px;
    padding: 2px 1% 2px 1%;
    width: 98%;
    margin: 8px 0 8px 0;
}

#mail_gen .message {
    width: 100%;
}

.selection_body {
    display: flex;
    flex-direction: column;
}

.choice {
    display: flex;
    flex-direction: row;
    height: 80px;

    margin: 8px 5px 16px 5px;
}

#mail_gen .text {
    background-color: #f1f1f1; /* Very light grey */
    font-size: 12px;

    padding: 3px;
    height: 80px;
    margin-left: 7px;
    margin-right: 7px;
    overflow: auto;
    flex-grow: 1;
}
#mail_gen .prev_button {
    cursor:pointer;
    margin-top: 20px;

    /* CSS triangle left */
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #c1c1c1; /* Grey */
}
#mail_gen .prev_button:hover {
    border-right: 20px solid #a8a8a8; /* Somewhat darker grey */
}

#mail_gen .next_button {
    cursor:pointer;
    margin-top: 20px;

    /* CSS triangle right */
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #c1c1c1; /* Grey */
}
#mail_gen .next_button:hover {
    border-left: 20px solid #a8a8a8; /* Somewhat darker grey */
}

#mail_gen .send_section {
    height: 50px;
    padding: 5px 190px 0 190px;
}

#mail_gen .send_button {
    background-color: white;
    border: 1px solid #043e74; /* XP Dark Blue*/
    border-radius: 3px;
    color: black;

    height: 19px;
    width: 62px;
    text-align:center;

    cursor:pointer;
}

#mail_gen .send_button .inner {
    border: 2px solid #dcdcdc; /* Xp Light Grey */
    border-radius: 2px;
    height: 14px;
    width: 58px;
    font-size: 13px;
    padding-top: 1px;
}
#mail_gen .send_button .inner:hover {
    border-color: #fcb234; /* XP Gold */
}
