#mail_gen {
    width: 500px;
    left: 100px;
    text-align: left;

    height: 400px;
}

#mail_gen .receivers {
    font-size: 15px;
    margin-bottom: 8px;
}

.selection_body {
    display: flex;
    flex-direction: column;
}

.choice {
    display: flex;
    flex-direction: row;
    height: 80px;

    margin: 5px 0 15px 0;
}

#mail_gen .text {
    background-color: #f1f1f1; /* Very light grey */
    font-size: 12px;

    padding: 3px;
    height: 80px;
    margin-left: 7px;
    margin-right: 7px;
    overflow: auto;
    flex-grow: 1;

    white-space: pre-line; /* Allows \n to become newlines */
}

#mail_gen .prev_button {
    cursor:pointer;
    margin-top: 20px;

    /* CSS triangle left */
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #c1c1c1; /* Grey */
}
#mail_gen .prev_button:hover {
    border-right: 20px solid #a8a8a8; /* Somewhat darker grey */
}

#mail_gen .next_button {
    cursor:pointer;
    margin-top: 20px;

    /* CSS triangle right */
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #c1c1c1; /* Grey */
}
#mail_gen .next_button:hover {
    border-left: 20px solid #a8a8a8; /* Somewhat darker grey */
}

#mail_gen .send_section {
    height: auto;
    padding-top: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#mail_gen .buttons {
    display: flex;
    flex-direction: row;
}

.send_button{
    margin-right: 15px;
}

#shareButton {
    margin-left: 15px;
}
