body {
	background: white;
	margin: auto;
	text-align: center;
	overflow: hidden;
}

canvas {
	margin: auto;
	cursor: none;
	width: 100%;
}

#desktop{
	position: relative;
	width: 100%;
	margin: auto;
}

#wallpaper{
	width: 100%;
}

#taskbar{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 29px;

	border-top: 1px solid #3168d5;
	background: linear-gradient(
			#3888e9, #4993e6, #307be5, #286add,
			#245dd7, #2157d5, #2157d5, #2157d5,
			#2157d5, #2157d5, #2157d5, #2157d5,
			#2157d5, #2157d5, #2157d5, #2157d5,
			#2157d5, #2157d5, #2662df, #2662df,
			#2662df, #2662df, #2662df, #2662df,
			#2662df, #2662df, #235bd9, #1e50c4,
			#1941a5);
}

#clock{
	width: 100px;
	height: 100%;
	float: right;
	background: linear-gradient(
		#16abef, #19baf4, #15a5f0, #149ced,
		#1396eb, #1396eb, #1396eb, #1396eb,
		#1396eb, #1396eb, #1396eb, #1396eb,
		#1396eb, #1396eb, #1396eb, #1396eb,
		#1396eb, #1396eb, #1396eb, #0d9aef,
		#0d9df0, #0d9df0, #11a4ee, #11a4ee,
		#11a4ee, #11a4ee, #1396e7, #1585db,
		#095bc9);
}

#clock_edge {
	height: 100%;
 	width: 5px;
	float: left;

	background: linear-gradient(to right, #2666e7, #1c47b9, #136a8e, #23ccfc, #12a2ee);
}

#time{
	padding: 7px 12px 7px 0;

	font-size: 13px;
	color: white;
	font-family: sans-serif;
	text-align: right;

	margin: 0;
}
