#marketplace{
    width: 500px;
    height: 380px;
    left: 150px;
    top: 20px;
}

#shop_list{
    overflow: auto;
    height: 300px;
    margin: 10px;
}

.shop_item{
    margin-bottom: 10px;
    display: block;
    height: 100px;

    padding: 5px;
    text-align: left;
}

.buy_btn{
    display: inline-block;
}

.shop_right{
    float: right;
    text-align: right;
}

.store_left{
    float:left;
    width: 300px;
}

.store_right p{
    margin: 3px;
    font-weight: bold;
}

.shop_item h4{
    margin: 3px;
}
