#stats_window{
    display: block;
    width: 300px;
    height: 248px;
    text-align: left;

    font-size: 12px;

    top: 20px;
    right: 20px;
}

#stats_window p{
    margin-top: 0;
}

#chart {
    cursor: default;
}