#stats_window{
    display: block;
    width: 300px;
    height: 223px;
    text-align: left;

    font-size: 12px;

    top: 20px;
    right: 20px;
}

#stats_window p{
    margin: 6px;
}

#stats_window .xp_field {
    width: 89%;
    padding: 3% 2% 1% 2%;
    margin: 0 3% 3% 3%;
}
#chart {
    cursor: default;
}