.window{
    position: absolute;
    top: 50px;

    font-family: sans-serif;

    display: none;

    padding: 30px 3px 3px 3px;

    border-radius: 7px 7px 0 0;
    border: 1px solid #0019cf;
    border-top-color: #0058ed;
    background: linear-gradient(#0046e0, #003ddd);
}

.window .header{
    font-family: xp-window-title, sans-serif;
    font-weight: bolder;
    font-size: 16px;
}

.window .subheader{
    font-size: 12px;
}


.window_top{
    height: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
            #3f97ff, #0261ed, #0052e2, #004fe4,
            #0060fb, #0065fd, #0046e0); /* Blue XP Gradient */
    border-radius: 6px 6px 0 0;

    cursor:pointer;
}

@font-face {
    font-family: xp-window-title;
    src: url(../assets/Franklin_Gothic_Medium_Regular.ttf);
}

.window_title {
    text-align: left;
    padding-top: 8px;
    padding-left: 25px;

    font-family: xp-window-title, sans-serif;
    font-size: 14px;
    color: white;
    text-shadow: 1px 1px black;
}

.window_body {
    width: calc(100% - 26px);
    height: calc(100% - 53px);
    padding: 10px;
    position: absolute;
    background-color: #eceadc; /* XP Light Yellow/Grey */
}

.window_icon {
    position: absolute;
    top: 7px;
    left: 5px;

    width: 16px;
    height: 16px;

    display: flex;
    align-items: center;
}

.window_icon img {
    width: 100%;
}


.window_close{
    position: absolute;
    background-color: #d64921;
    color: white;
    top: 5px;
    right: 5px;

    width: 19px;
    height: 19px;
    border: 1px solid white;
    border-radius: 3px;

    cursor:pointer;
}
.window_close:hover {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #ea7c7e url(../assets/close_button_hover.png) no-repeat;
    width: 19px;
    height: 21px;
    padding-left: 19px;
}
.window_close:active{
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #d64921 url(../assets/close_button_active.png) no-repeat;
    width: 19px;
    height: 21px;
    padding-left: 19px;
}