.window{
    position: absolute;
    top: 50px;

    font-family: sans-serif;

    display: none;

    padding: 30px 3px 3px 3px;

    border-radius: 11px 11px 0 0;
    border: 1px solid #0019cf;
    border-top-color: #0058ed;
    background: linear-gradient(#0046e0, #003ddd);
}

.window .header{
    font-size: 25px;
    font-weight: bolder;
}

.window .subheader{
    font-size: 20px;
}

.window_top{
    height: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(#3f97ff, #0261ed, #0052e2, #004fe4, #0060fb, #0065fd, #0046e0); /* Blue XP Gradient */
    border-radius: 5px 5px 0 0;

    cursor:pointer;
}

.window_title {
    color: white;
    font-size: 15px;
    text-align: left;
    padding-top: 6px;
    padding-left: 4px;
}

.window_body {
    width: calc(100% - 26px);
    height: calc(100% - 53px);
    padding: 10px;
    position: absolute;
    background-color: #eceadc; /* XP Light Yellow/Grey */
}

.window_close{
    position: absolute;
    background-color: red;
    color: white;
    top: 5px;
    right: 5px;

    width: 19px;
    height: 19px;
    border: 1px solid white;
    border-radius: 3px;

    cursor:pointer;
}
.window_close:hover {
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../assets/close_button_hover.png) no-repeat;
    width: 19px;
    height: 21px;
    padding-left: 19px;
}
.window_close:active{
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../assets/close_button_active.png) no-repeat;
    width: 19px;
    height: 21px;
    padding-left: 19px;
}